.dark {

    --bg-main: #0f172a;
    --bg-secondary: #111827;

    --card-bg: #1e293b;
    --input-bg: #334155;

    --text-primary: white;
    --text-secondary: #cbd5e1;
    --text-muted: #9ca3af;

    --primary-btn: #2563eb;
    --success-btn: #10b981;
    --danger-btn: #ef4444;

    --profile-border: #3b82f6;


    /* Background */
    --body-bg: #0f172a;
    --icon-bg: #192a4f;
    --note-card-bg: rgba(255, 255, 255, 0.08);

    /* Text */
    --text-color: white;
    --paragraph-color: #cbd5e1;
    --highlight-text: #60a5fa;

    /* Buttons */
    --register-btn-bg: #4f46e5;
    --start-btn-bg: #2563eb;

    /* Borders */
    --login-btn-border: white;
    --note-card-border: rgba(255, 255, 255, .1);

    /* Shadows */
    --icon-hover-shadow:
        2px 2px 15px rgb(125, 112, 112),
        -2px -2px 15px rgb(38, 10, 10);

    --start-btn-shadow: 0 0 20px #2563eb;

    --bg-main: #0f172a;
    --card-bg: #1e293b;
    --input-bg: #334155;

    --heading-color: white;
    --text-color: white;
}