.emerald{

  --body-bg:#86efac;
  --navbar-bg:#4ade80;
  --sidebar-bg:#4ade80;

  --card-bg:#bbf7d0;
  --input-bg:#dcfce7;

  --text-color:#14532d;
  --paragraph-color:#166534;

  --icon-bg:#6ee7b7;
}